<!DOCTYPE html>
<html lang="en" class="bg-gray-200">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title || "Noveler" %>
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar flex items-center justify-between flex-wrap border-white">

        <div class="header-first-row flex items-center">
            <div class="flex items-center justify-center mr-6">
                <!-- <svg class="fill-current h-8 w-8 mr-2" width="49" height="54" viewBox="0 0 152 168" xmlns="http://www.w3.org/2000/svg"><path d="M119.127,135.861 L102.277,83.997 L146.384,51.952 L91.863,51.952 L75.011,0.09 L75.006,0.076 L129.536,0.076 L146.391,51.947 L146.391,51.946 L146.405,51.938 C156.195,82.03 146.113,116.256 119.127,135.861 L119.127,135.861 Z M30.893,135.861 L30.879,135.871 L74.998,167.924 L119.127,135.862 L75.012,103.808 L30.893,135.861 L30.893,135.861 Z M3.624,51.939 L3.624,51.939 C-6.68,83.66 5.281,117.272 30.884,135.867 L30.888,135.851 L47.74,83.99 L3.642,51.951 L58.15,51.951 L75.003,0.089 L75.007,0.075 L20.474,0.075 L3.624,51.939 L3.624,51.939 Z"></svg> -->
                <a href="/">
                    <span class="font-semibold text-xl tracking-tight">Noveler</span>
                </a>
            </div>

            <div class="block flex justify-center items-center">
                <% if (locals.user) { %>
                    <a href="/projects" class="block lg:inline-block lg:mt-0 hover:text-white">Projects</a>
                    <!-- <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a> -->
                    <% } else { %>
                        <!-- <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a> -->
                        <% } %>
            </div>

        </div>

        <div class="header-second-row flex items-center">

            <div class="profile-in-header">
                <% if (locals.user) { %>
                    <!-- <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a> -->
                    <a href="/profile" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e3e3e3">
                            <path
                                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                        </svg>
                    </a>
                    <% } else { %>
                        <a href="/login"
                            class="block lg:inline-block lg:mt-0 text-gray-300 hover:text-white">Login</a>
                        <% } %>

            </div>
        </div>
    </nav>
    <div class="all-container mx-auto">
        