@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: #0E131F;
    min-height: 100vh;
    color: #b7b7b7;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.all-container{
    min-width: 100vw;
    min-height: 100vh;
}
.page-header-text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
}

.navbar{
    height: 4rem;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #2A2E3B;
    padding: 1em;
}

footer{
    background: #1A1D2B;
    border-top: 1px solid #2A2E3B;
}
